.Side-bar
  .left-header
    .list
      test
      %ul.icons
        %li.edit
          = link_to '#' do
            =icon('far', 'edit')
        %li.config
          = link_to '#' do
            =icon('far', 'cog')
  .group
    .group-list
      .group-name
      test
      .group-message
      test
  
    .group-list
      .group-name
      test
      .group-message
      test
    
    .group-list
      .group-name
      test
      .group-message
      test